{{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.shortDescription) }}
    {{ form_row(form.price) }}
    {{ form_row(form.weight) }}
    {{ form_row(form.status) }}
    {{ form_row(form.mainCategory) }}
    {{ form_row(form.manufacturer) }}
    {{ form_row(form.image) }}
    <button class="btn btn-success">{{ button_label|default('Сохранить') }}</button>

{{ form_end(form) }}
