{% extends 'base.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block body %}
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            {% for slide in productsForSlider %}
                <div class="carousel-item active">
                    <a href="#">
                    <img src="{{ slide.image }}" class="d-block w-100" alt="">
                    </a>
                    <div class="carousel-caption d-none d-md-block">
                        <a href="#"><h5>{{ slide.title }}</h5></a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <section class="top-posts">
        <div class="row posts">
            <div class="col"></div>
            {% for slide in productsForSlider %}
                <div class="col-3">
                    <article class="post top-post">
                        <a href="#" class="category-link">World</a>
                        <a href="#">
                            <img src="{{ slide.image }}" alt="" class="img-fluid">
                        </a>
                        <a href="#" class="post-link">
                            <h3>{{ slide.title }}</h3>
                        </a>
                        <time>5 minutes ago</time>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, harum.</p>
                    </article>
                </div>
            {% endfor %}
            <div class="col"></div>
        </div>
    </section>
    <section class="regular-posts">
        {% for product in products %}
            <article class="post">

                <a href="#">
                    <img src="{{ product.image }}" alt="" class="img-thumbnail" style="width: 100px">
                </a>
                <a href="#" class="category-link">{{ product.mainCategory }}</a>
                <a href="#"><h4>{{ product.title }}</h4></a>
                <time>{{ product.createdAt | date('d-m-Y') }}</time>
            </article>
        {% endfor %}
    </section>
{% endblock %}